@import "tailwindcss";

/* Mildere glow */
@keyframes glowPulse {

  0%,
  100% {
    text-shadow: 0 0 3px #ff33a8, 0 0 6px #ff33a8, 0 0 10px #ff33a8;
  }

  50% {
    text-shadow: 0 0 5px #00e5ff, 0 0 8px #00e5ff, 0 0 12px #00e5ff;
  }
}

.glow-pulse {
  animation: glowPulse 4s ease-in-out infinite;
  /* saktere puls */
}

/* Animerende gradient */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 8s ease infinite;
  /* rolig fargeskift */
}

/* Font helper */
.font-road-rage {
  font-family: var(--font-road-rage);
}